:root {
    font-family: 'Menlo', monospace;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: aquamarine;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: aquamarine;
    text-decoration: inherit;
}
a:hover {
    color: lime;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: aquamarine;
}
button:hover {
    border-color: lime;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
    opacity: 0.5;
}

table {
    border: 2px solid lime;
    border-radius: 0.5rem;
}

th,
td {
    border-bottom: 2px solid lime;
    border-right: 2px solid lime;
    padding: 0.25rem 1rem;
    text-align: left;
}

tr:last-child > td {
    border-bottom: none;
}

th:last-child,
td:last-child {
    border-right: none;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: lime;
    }
    button {
        background-color: #f9f9f9;
    }
}
